body {    
    padding: 0;
    margin: 0;
    background: #FEBB1D;
    box-sizing: border-box;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/* HEADER */
header {
    width: 100%;
}

header img {
    height: 10vh;
    display: block;
    margin: auto;
}

/* MAIN */

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1vw;
    width: 90%;
    font-size: 1.2vw;
    margin: auto;
}

main div { 
    grid-column: auto;
    padding-top: 100%;
    background-size: cover;
    position: relative;
}

p {
    padding: 0px;
    position: absolute;
    height: 50%;
    bottom: 0;
    background-color: #2b292673;
    color: blanchedalmond;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
}

#one {
    background-image: url("./images/DALL·E\ 2022-10-25\ 16.07.37\ -\ reconcile\ elite\ tiger.png");
}

#two {
    background-image: url("./images/DALL·E\ 2022-10-25\ 16.29.36\ -\ neighborhood\ theory\ pay.png");
}

#three {
    background-image: url("./images/DALL·E\ 2022-10-25\ 16.35.44\ -\ enfix\ reverse\ handicap.png");
}

#four {
    background-image: url("./images/DALL·E\ 2022-10-25\ 16.50.30\ -\ king\ hate\ junior.png");
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1530px) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
        font-size: 1.8vw;
}

@media only screen and (max-width: 1150px) {
    main {
        grid-template-columns: 1fr 1fr;
        font-size: 2.5vw;
}

@media only screen and (max-width: 600px) {
    main {
        display: flex;
        flex-direction: column;        
        font-size: 5vw;
}