body {
    margin: 0;   
    padding: 0; 
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    text-align: center;
    padding: 5vw;
}

.container {
    margin: auto;
    width: 50%;
    display: flex;
    justify-content: space-around;
    padding: 5vw;
}

button {
    padding: 1vw 2vw;
    font-family: 'Courier New', Courier, monospace;
}

p {
    font-size: xx-large;
}