* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    font-size: 30px;
}

h1 {
    text-align: center;
    padding: 5vh;
    font-size: 50px;
}

.container {
    width: 50%;
    margin: auto;
    padding: 1vh;
    display: flex;
    justify-content: space-around;
}


button {
    margin: auto;
}


#output {
    border: 5px solid black;
    border-radius: 20px;
    font-size: 50px;
    width: 30vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block {
    border: 5px solid black;
    padding: 1vw;
    border-radius: 20px;
}