body, html {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100px;
    background-image: url(./Resources/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

/* header styles */

h1 {
    position: absolute;
    display: inline-block;
    background-image: url(./Resources/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0px;
    width: 250px;
    height: 100px;
    margin: 2vw 5vw;
}

header nav {
    position: absolute;
    left: 15vw;
    display: inline-block;
    margin: 2vw 5vw;
}

header ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

header li {
    list-style: none;
    font-size: 25px;
    padding: 0px 3vw;
    transition: filter .2s;
}

header li:hover {
    filter: invert(1);
    cursor: pointer;
}

#basket {
    position: absolute;
    right: 0;
    width: 70px;
    height:70px;
    margin: 2vw 5vw;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom right, #7DBAFA, #D659D6);
}

#counter {
    position: absolute;
    left: 50px;
    bottom: 50px;
    background-color: red;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#counter p {
    color: white;
}

/* main styles */

main {
    display: flex;
}

#sideBar {
    width: 5vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#sideBar i {
    margin: 50px;
    transition: filter .2s;
}

#sideBar i:hover {
    filter: invert(1);
    cursor: pointer;
}

#slider {
    width: 100%;
    background-image: url(./Resources/img.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5vw;
    transition: background-image 1s;
}

#slider h2 {
    padding: 1vw;    
    background-image: linear-gradient(to bottom right, #7DBAFA, #D659D6);
    width: fit-content;
    border-radius: 5px;
    color: lightblue;
    font-size: 25px;
}

#slider h3 {
    font-size: 35px;
    width: 300px;
}

#slider p {
    font-size: 35px;
}

#controls {
    display: flex;
    margin: 0 5vw;
}

#controls .button {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2vw;
    transition: border-radius 1s;
}

#controls .button:hover {        
    border-radius: 5px;
    cursor: pointer;
}

#left {
    border: 1px solid black;
}

#right {    
    background-image: linear-gradient(to bottom right, #7DBAFA, #D659D6);
}

#right i {
    color: lightblue;
}