* {
    font-family: 'Courier New', Courier, monospace;
    
}

h1 {
    text-align: center;
    padding: 5vh;
}

.container {
    margin: auto;
    padding: 5vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
}

img {
    height: 20vh;
}