html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    font-family: 'Roboto', sans-serif;
    color: aliceblue;
    background-color: black;
}

h2 {
    font-size: 2em;
    text-align: center;
    padding: 3vh;
}

h3{
    font-size: 1.5em;
}

p, q, li{
    font-size: 1em;
}

/* header */

#hero {
    width: 100%;
    height: 80vh;
    background-image: url(../Resources/banner.jpg);
    background-size: cover;
    display: flex;
    z-index: 0;
}

#hero h1 {
    margin: auto;
    font-size: 5vmax;
}

header {
    display: unset;
}

#navBar {
    position: sticky;
    top: 0;
    background-color: black;
}

#navBar ul {
    height: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#navBar ul li {
    list-style: none;
    margin: 0.5vh;
    padding: 0.5vh;
}

li:hover {
    border: 1px solid white;
}

/* main */

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.box {
    width: 35vmax;
    padding: 1vw;
}

.box img {
    width: inherit;
}

/* footer */

footer {
    text-align: center;
}

footer p {
    padding: 5vw;
}

q {
    font-style: italic;
}